@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> Welcome to our Website, we are proud to present BYU's Egyp Excavation</h1>

<div class="row">
    <div class="column">
        <img src="~/img/Slide7.JPG" />
        <img src="~/img/Slide6.JPG" />
        <img src="~/img/Slide19.JPG" />
        <img src="~/img/PE220275 (2).JPG" />
        <img src="~/img/PE220251 (2).JPG" />
        <img src="~/img/P2160230.JPG" />
    </div>
    <div class="column">
        <img src="~/img/IMG_2969.JPG" />
        <img src="~/img/IMG_0968.JPG" />
        <img src="~/img/IMG_0967.JPG" />
        <img src="~/img/FT270445.JPG" />
        <img src="~/img/FT270435.JPG" />
        <img src="~/img/FT130345.JPG" />
    </div>
    <div class="column">
        <img src="~/img/DSCN9881.JPG" />
        <img src="~/img/DSCN9864.JPG" />
        <img src="~/img/DSCN3436.JPG" />
        <img src="~/img/DSCN3426.JPG" />
        <img src="~/img/DSCN0250.JPG" />
        <img src="~/img/DSCN0233.JPG" />
    </div>
    <div class="column">
        <img src="~/img/DSCN0221.JPG" />
        <img src="~/img/DSCN0220.JPG" />
        <img src="~/img/DSCN0219.JPG" />
        <img src="~/img/DSCN0184.JPG" />
        <img src="~/img/DSCF8496.JPG" />
        <img src="~/img/DSC_0028-8.jpg" />
    </div>
</div>
